{
    "Solutions": [
      {
        "Path": "path/to/solution1.sln",
        "DependsOn": []
      },
      {
        "Path": "path/to/solution2.sln",
        "DependsOn": ["path/to/solution1.sln"]
      },
      {
        "Path": "path/to/solution3.sln",
        "DependsOn": ["path/to/solution1.sln"]
      },
      {
        "Path": "path/to/solution4.sln",
        "DependsOn": ["path/to/solution2.sln", "path/to/solution3.sln"]
      }
    ]
  }
  